<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd">

	<context:component-scan base-package="com.uc" />

	<!-- 配置JMS连接工厂 -->
	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://127.0.0.1:61616" />
	</bean>
	<!-- 发送消息的目的地（队列） -->
	<bean id="queueDest" class="org.apache.activemq.command.ActiveMQQueue">
		<!-- 设置消息队列的名字 -->
		<constructor-arg index="0" value="queue" />
	</bean>
	<!-- 配置Jms模板 -->
	<bean id="jmsQueueTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestination" ref="queueDest" />
		<!--<property name="receiveTimeout" value="10000" /> -->
	</bean>

	<!-- 发送消息的目的地（主题） -->
	<bean id="topicDest" class="org.apache.activemq.command.ActiveMQTopic">
		<!-- 设置消息队列的名字 -->
		<constructor-arg index="0" value="myTopic" />
	</bean>
	<!-- 配置TopicJms模板 -->
	<bean id="jmsTopicTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestination" ref="topicDest" />
		<!-- 配置是否为发布订阅者模式，默认为false -->
		<property name="pubSubDomain" value="true" />
		<!--<property name="receiveTimeout" value="10000" /> -->
	</bean>

	<bean id="queueProducerService" class="com.uc.hw.QueueProducerService">
		<property name="jmsTemplate" ref="jmsQueueTemplate" />
		<!-- <property name="destination" ref="queueDest" /> -->
		<property name="destination" ref="queueConsumerMessageListenerDest" /> 
	</bean>
	<bean id="queueConsumerService" class="com.uc.hw.QueueConsumerService">
		<property name="jmsTemplate" ref="jmsQueueTemplate" />
		<property name="destination" ref="queueDest" />
	</bean>

	<bean id="topicPublisherService" class="com.uc.hw.TopicPublisherService">
		<property name="jmsTemplate" ref="jmsTopicTemplate" />
		<!-- <property name="destination" ref="topicDest" /> -->
		<property name="destination" ref="topicSubscriberMessageListenerDest" />  
	</bean>
	<bean id="topicSubscriberService" class="com.uc.hw.TopicSubscriberService">
		<property name="jmsTemplate" ref="jmsTopicTemplate" />
		<property name="destination" ref="topicDest" />
	</bean>
	
	<!-- 实现接口的方式 -->
	<bean id="queueConsumerMessageListener" class="com.uc.hw.QueueConsumerMessageListener">
	</bean>
	<!-- 新增一个队列地址名字不能跟上面的重复 -->
	<bean id="queueConsumerMessageListenerDest" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="myMessageListenerQueue" />
	</bean>
	<bean id="myMsgQueuelistenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="queueConsumerMessageListenerDest" />
		<property name="messageListener" ref="queueConsumerMessageListener" />
		<property name="receiveTimeout" value="10000" />
	</bean>

	<bean id="topicSubscriberMessageListener" class="com.uc.hw.TopicSubscriberMessageListener"></bean>
	<bean id="topicSubscriberMessageListenerDest" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg index="0" value="myMessageListenerTopic" />
	</bean>
	<bean id="myMsgTopiclistenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="topicSubscriberMessageListenerDest" />
		<property name="messageListener" ref="topicSubscriberMessageListener" />
		<property name="pubSubDomain" value="true" />
		<property name="receiveTimeout" value="10000" />
	</bean>
	
	

</beans>
